<app-header>
</app-header>

<div class="buttons">
    <button>
      <img src="/assets/records/reservation.png" alt="Reservas" />
      <span>Reservas</span>
    </button>
    <button>
      <img src="/assets/records/key.png" alt="Quartos" />
      <span>Quartos</span>
    </button>
    <button>
      <img src="/assets/records/customers.png" alt="Clientes" />
      <span>Clientes</span>
    </button>
    <button>
      <img src="/assets/records/user.png" alt="Usuários" />
      <span>Usuários</span>
    </button>
    <button>
      <img src="/assets/records/voucher.png" alt="Cupons" />
      <span>Cupons</span>
    </button>
    <button>
      <img src="/assets/records/payments.png" alt="Pagamentos" />
      <span>Pagamentos</span>
    </button>
  </div>
  