<app-header/>

<div class="container py-5">
  <h2 class="mb-4 text-secondary-custom">Cadatro de Complemento</h2>

  <form [formGroup]="complementForm" (ngSubmit)="onSubmit()">
    <div class="row g-3 mb-3">
      <div class="col-md-6">
        <label for="nome" [appRequiredMarker]="true" class="form-label">Nome</label>
        <input id="nome"v class="form-control" formControlName="nome" type="text">
      </div>
      <div class="col-md-6">
        <label for="valor" [appRequiredMarker]="true" class="form-label">Valor</label>
        <input 
          id="valor" 
          class="form-control" 
          formControlName="valor" 
          type="text" 
          mask="separator.2" 
          thousandSeparator="." 
          decimalMarker="," 
          prefix="R$ "
        >
      </div>
      <div class="mb-3">
        <label for="descricao" [appRequiredMarker]="true" class="form-label">Descrição</label>
        <textarea class="form-control" formControlName="descricao" rows="3"></textarea>
      </div>
    </div>

    <div class="d-flex gap-3">
      <button type="submit" class="btn btn-primary-custom">Salvar</button>
      <button type="button" class="btn btn-outline-secondary" (click)="goBack()">Cancelar</button>
    </div>
  </form>
</div>
