<app-header/>

<div class="container py-5">
  <h2 class="mb-4 text-secondary-custom">
    {{ voucherId ? 'Editar Cupom' : 'Cadastro de Cupom' }}
  </h2>

  <form [formGroup]="voucherForm" (ngSubmit)="onSubmit()">
    <div class="row g-3 mb-3">
      <div class="col-md-6">
        <label for="codigo" [appRequiredMarker]="true" class="form-label">Código</label>
        <input id="codigo" class="form-control" formControlName="codigo" type="text">
      </div>
      <div class="col-md-6">
        <label for="nome" [appRequiredMarker]="true" class="form-label">Nome</label>
        <input id="nome"v class="form-control" formControlName="nome" type="text">
      </div>
    </div>
    <div class="row g-3 mb-3">
      <div class="col-md-6">
        <label for="dataInicio" [appRequiredMarker]="true" class="form-label">Data de Início</label>
        <input id="dataInicio" class="form-control" formControlName="dataDeInicio" type="date">
      </div>
      <div class="col-md-6">
        <label for="dataVencimento" [appRequiredMarker]="true" class="form-label">Data de Vencimento</label>
        <input id="dataVencimento" class="form-control" formControlName="dataDeVencimento" type="date">
      </div>
    </div>
    <div class="row g-3 mb-3">
      <div class="col-md-6">
        <label for="porcentagemDeDesconto" [appRequiredMarker]="true" class="form-label">Porcentagem de desconto</label>
        <input id="porcentagemDeDesconto" class="form-control" formControlName="porcentagemDeDesconto" type="number">
      </div>
      <div class="col-md-6">
        <label for="quantidade" [appRequiredMarker]="true" class="form-label">Quantidade</label>
        <input id="quantidade" class="form-control" formControlName="quantidadeMaximaDeUso" type="number">
      </div>
    </div>

    <div class="d-flex gap-3">
      <button type="submit" class="btn btn-primary-custom">Salvar</button>
      <button type="button" class="btn btn-outline-secondary" (click)="goBack()">Cancelar</button>
    </div>
  </form>
</div>
