<app-header></app-header>

<div class="container my-5">
  <h2 class="text-primary-custom mb-3">Quartos</h2>

  <div class="d-flex gap-3 mb-4">
    <a class="btn btn-primary px-4 py-2" [routerLink]="['/rooms/new']">Novo</a>
    <button class="btn btn-primary px-4 py-2" data-bs-toggle="modal" data-bs-target="#filterModal">Filtrar</button>
  </div>

  <div class="container py-4" *ngIf="quartos().length > 0; else emptyState">
    <div class="row mb-4 border-bottom pb-4" *ngFor="let quarto of quartos()">

      <div class="col-md-3 d-flex align-items-center">
        <ng-container *ngIf="quarto.urlImagens && quarto.urlImagens.length > 0; else placeholderImage">
          <img
            [src]="quarto.urlImagens[0].url"
            class="img-fluid rounded w-100"
            [style.height.px]="190"
            style="object-fit: cover;"
            alt="Foto do Quarto"
          />
        </ng-container>

        <ng-template #placeholderImage>
          <img
            src="assets/images/sem-foto.png"
            alt="Imagem não disponível"
            class="img-fluid rounded w-100"
            [style.height.px]="190"
            style="object-fit: contain;"
          />
        </ng-template>
      </div>

      <!-- COLUNA: INFORMAÇÕES -->
      <div class="col-md-6">
        <h5 class="fw-bold">
          <a [routerLink]="['/rooms/show', quarto.id]">
            {{ quarto.nome | capitalize }}
          </a>
        </h5>
        <p class="text-muted mb-1">
          {{ quarto.observacao }}
        </p>
        <p class="mb-1">
          ● Camas: {{ quarto.qtdCamaCasal || 0 }} Casal, {{ quarto.qtdCamaSolteiro || 0 }} Solteiro
        </p>

        <hr />
        <div class="d-flex gap-3 flex-wrap">
          <i *ngFor="let amenidade of quarto.amenidades" [class]="amenidade.icone + ' fs-4'"></i>
        </div>
      </div>

      <div class="col-md-3 text-end d-flex flex-column justify-content-between">
        <div>
          <p class="text-muted mb-1">A partir de</p>
          <h2 class="fw-semibold">R$ {{ quarto.valorDiaria | number:'1.0-2' }}</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4 mb-5 d-flex justify-content-between align-items-center" *ngIf="totalPages() > 1">
    <button class="btn btn-outline-brown" (click)="previousPage()" [disabled]="currentPage() === 0">
      ← Anterior
    </button>

    <span>Página {{ currentPage() + 1 }} de {{ totalPages() }}</span>

    <button class="btn btn-outline-brown" (click)="nextPage()" [disabled]="currentPage() + 1 >= totalPages()">
      Próxima →
    </button>
  </div>

  <app-export-csv [data]="quartosParaCSV()" filename="quartos.csv"></app-export-csv>

  <ng-template #emptyState>
    <p class="text-muted">Nenhum quarto cadastrado.</p>
  </ng-template>

  <app-filter-modal
    [config]="filtroQuartos"
    (filtersApplied)="aplicarFiltros($event)">
  </app-filter-modal>
</div>
