<app-header/>

<div class="container py-5">
  <h2 class="mb-4 text-secondary-custom">
    {{ userId ? 'Editar Usuário' : 'Cadastro de Usuário' }}
  </h2>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="row g-3 mb-3">
      <div class="col-md-6">
        <label for="nome" [appRequiredMarker]="true" class="form-label">Nome</label>
        <input id="nome" class="form-control" formControlName="nome" type="text">
      </div>
      <div class="col-md-6">
        <label for="email" [appRequiredMarker]="true" class="form-label">Email</label>
        <input id="email"v class="form-control" formControlName="email" type="text">
      </div>
    </div>
    <div class="row g-3 mb-3">
      <div class="col-md-6">
        <label for="senha" [appRequiredMarker]="true" class="form-label">Senha</label>
        <input id="senha" class="form-control" formControlName="senha" type="password">
      </div>
    </div>

    <div class="d-flex gap-3">
      <button type="submit" class="btn btn-primary-custom">Salvar</button>
      <button type="button" class="btn btn-outline-secondary" (click)="goBack()">Cancelar</button>
    </div>
  </form>
</div>
