<app-header></app-header>

<div class="container my-5">
  <h2 class="text-primary-custom mb-3">Reservas</h2>

  <div class="d-flex gap-3 mb-4">
    <a class="btn btn-primary px-4 py-2" [routerLink]="['/reservations/new']">Nova</a>
    <button class="btn btn-primary px-4 py-2" data-bs-toggle="modal" data-bs-target="#filterModal">Filtrar</button>
  </div>

  <div *ngIf="reservas().length > 0; else emptyState">
    <table class="table table-striped table-hover align-middle">
      <thead class="bg-primary-custom">
        <tr>
          <th>Chekin</th>
          <th>Chekout</th>
          <th>Cliente</th>
          <th>Quarto</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of reservas()">
          <td>
            <a [routerLink]="['/reservations/show', reserva.id]">
              {{ reserva.checkIn | date: 'dd/MM/yyyy' }}
            </a>
          </td>
          <td>
              {{ reserva.checkOut | date: 'dd/MM/yyyy' }}
          </td>
          <td>{{ reserva.cliente?.nome }}</td>
          <td>{{ reserva.quarto?.nome }}</td>
          <td>{{ reserva.statusDaReserva }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-4 mb-5 d-flex justify-content-between align-items-center" *ngIf="totalPages() > 1">
    <button class="btn btn-outline-brown" (click)="previousPage()" [disabled]="currentPage() === 0">
      ← Anterior
    </button>

    <span>Página {{ currentPage() + 1 }} de {{ totalPages() }}</span>

    <button class="btn btn-outline-brown" (click)="nextPage()" [disabled]="currentPage() + 1 >= totalPages()">
      Próxima →
    </button>
  </div>

  <div class="d-flex gap-3 mt-3">
    <app-export-pdf
      fileName="reservas.pdf"
      [headers]="['Checkin', 'Checkout', 'Cliente', 'Quarto', 'Status']"
      [data]="reservasParaPDF()">
    </app-export-pdf>

    <app-export-csv
      [data]="reservasParaCSV()"
      filename="reservas.csv">
    </app-export-csv>
  </div>

  <ng-template #emptyState>
    <p class="text-muted">Nenhuma reserva cadastrada.</p>
  </ng-template>

  <app-filter-modal
    [config]="filtroReservas"
    (filtersApplied)="aplicarFiltros($event)">
  </app-filter-modal>

</div>
