<app-header/>

<div class="container my-5">
  <h2 class="text-primary-custom mb-3">Cupons</h2>

  <div class="d-flex gap-3 mb-4">
    <a class="btn btn-primary px-4 py-2" [routerLink]="['/vouchers/new']">Novo</a>
    <a class="btn btn-primary px-4 py-2" data-bs-toggle="modal" data-bs-target="#filterModal">Filtrar</a>
  </div>

  <div *ngIf="vouchers.length > 0; else emptyState">
    <table class="table table-striped table-hover align-middle">
      <thead class="bg-primary-custom">
        <tr>
          <th>Nome</th>
          <th>Data de Início</th>
          <th>Data de Vencimento</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let voucher of vouchers">
          <td>
            <a [routerLink]="['/vouchers/show', voucher.id]">{{ voucher.nome }}</a>
          </td>
          <td>{{ voucher.dataDeInicio | date: 'dd/MM/yyyy' }}</td>
          <td>{{ voucher.dataDeVencimento | date: 'dd/MM/yyyy' }}</td>
          <td>{{ voucher.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-4 mb-5 d-flex justify-content-between align-items-center" *ngIf="totalPages >= 1">
    <button class="btn btn-outline-brow" (click)="previousPage()" [disabled]="currentPage === 0">
      ← Anterior
    </button>

    <span>Página {{ currentPage + 1 }} de {{ totalPages }}</span>

    <button class="btn btn-outline-brow" (click)="nextPage()" [disabled]="currentPage + 1 >= totalPages">
      Próxima →
    </button>
  </div>

  <ng-template #emptyState>
    <p class="text-muted">Nenhum cupom cadastrado.</p>
  </ng-template>

  <app-filter-modal
    [config]="voucherFilter"
    (filtersApplied)="applyFilters($event)">
  </app-filter-modal>
</div>


